@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #575757;
  line-height: 1.6;
}

.scroll {
  position: fixed;
  bottom: 0;
  right: 0;
}
.scroll-icon {
  height: 6rem;
  width: 5rem;
}
@media only screen and (max-width: 27em) {
  .scroll-icon {
    height: 4rem;
    width: 3rem;
  }
}
@media only screen and (max-width: 20em) {
  .scroll-icon {
    height: 3rem;
    width: 2rem;
  }
}

.container {
  margin: 0 auto;
}

.header {
  color: #3a3a3a;
  font-size: 1rem;
  line-height: 1;
}

.hero {
  font-size: 1.6rem;
  width: auto;
  padding: 2rem 0;
  color: #ffffff;
  background-color: #4769f1;
}
@media only screen and (max-width: 48em) {
  .hero {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 20em) {
  .hero {
    font-size: 1rem;
  }
}

.card {
  background-color: #ffffff;
}

.feature {
  background-color: #4769f1;
  color: #ffffff;
}

.carousal {
  position: relative;
  padding: 5rem;
  width: 70vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 27em) {
  .carousal {
    padding: 5rem 0;
  }
}
.carousal__icon-b {
  position: absolute;
  top: 11rem;
  left: -1rem;
  width: 4rem;
  height: 4rem;
}
@media only screen and (max-width: 27em) {
  .carousal__icon-b {
    left: 0;
    top: 8rem;
    width: 3rem;
    height: 3rem;
  }
}
@media only screen and (max-width: 20em) {
  .carousal__icon-b {
    width: 2rem;
    height: 2rem;
  }
}
.carousal__icon-f {
  position: absolute;
  top: 11rem;
  right: -1rem;
  width: 4rem;
  height: 4rem;
}
@media only screen and (max-width: 27em) {
  .carousal__icon-f {
    right: 0;
    top: 8rem;
    width: 3rem;
    height: 3rem;
  }
}
@media only screen and (max-width: 20em) {
  .carousal__icon-f {
    width: 2rem;
    height: 2rem;
  }
}
.carousal__img {
  overflow-x: auto;
  display: flex;
  gap: 2rem;
}
.carousal__img-1 {
  margin: 2rem;
  width: 14rem;
  height: 10rem;
}
@media only screen and (max-width: 27em) {
  .carousal__img-1 {
    width: 8rem;
    height: 6rem;
  }
}

@keyframes activedot {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 48em) {
  .header {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 20em) {
  .header {
    font-size: 8px;
  }
}
.header__top {
  background-color: #f3f3f3;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
}
@media only screen and (max-width: 27em) {
  .header__top {
    flex-direction: column;
    gap: 1rem;
  }
}
.header__top-one {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__top-one-1::after {
  position: absolute;
  content: "";
  height: 2.5rem;
  width: 0.5px;
  top: 0;
  left: 8rem;
  background-color: #3a3a3a;
}
@media only screen and (max-width: 48em) {
  .header__top-one-1::after {
    left: 7rem;
    height: 3rem;
  }
}
@media only screen and (max-width: 20em) {
  .header__top-one-1::after {
    height: 3rem;
    left: 6rem;
  }
}
@media only screen and (max-width: 48em) {
  .header__top-one-2 {
    gap: 0;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 48em) {
  .header__top-one {
    gap: 2rem;
  }
}
.header__top-two {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.header__top-two span {
  padding: 5px;
  background-color: #ffffff;
}
.header__top-two span:last-child {
  color: #ffffff;
  background-color: black;
}
@media only screen and (max-width: 48em) {
  .header__top-two {
    gap: 0;
  }
}
.header__images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 4rem 0;
}
@media only screen and (max-width: 27em) {
  .header__images {
    margin: 2rem;
  }
}
@media only screen and (max-width: 20em) {
  .header__images {
    gap: 2rem;
    margin: 1rem 0;
  }
}
@media only screen and (max-width: 48em) {
  .header__images-1 {
    height: 5rem;
    width: 15rem;
  }
}
@media only screen and (max-width: 27em) {
  .header__images-1 {
    height: 4rem;
    width: 10rem;
  }
}

.hero__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  margin-top: 10rem;
}
@media only screen and (max-width: 64em) {
  .hero__content {
    gap: 0;
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 27em) {
  .hero__content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
.hero__nav {
  padding-top: 2rem;
  margin: 0 40rem;
  display: flex;
  justify-content: space-around;
  gap: 0;
}
@media screen and (max-width: 64em) {
  .hero__nav {
    margin: 0 20rem;
  }
}
@media only screen and (max-width: 48em) {
  .hero__nav {
    margin: 0 15rem;
    padding: 1rem;
  }
}
@media only screen and (max-width: 27em) {
  .hero__nav {
    margin: 0;
    font-size: 1rem;
  }
}
.hero__nav-item {
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
}
@media only screen and (max-width: 27em) {
  .hero__nav-item {
    font-size: 1.2rem;
  }
}
.hero__nav-item-1 {
  text-decoration: none;
  cursor: pointer;
}
.hero__nav-item-1:link, .hero__nav-item-1:visited {
  color: white;
}
cur .hero__nav-item-1:hover::after {
  content: "";
  position: absolute;
  top: 3rem;
  left: 3rem;
  background-color: #ffffff;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
}
.hero__description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin: 0 10rem;
}
@media only screen and (max-width: 48em) {
  .hero__description {
    margin: 0 4rem;
  }
}
@media only screen and (max-width: 27em) {
  .hero__description {
    margin-bottom: 2rem;
    align-self: center;
  }
}
@media only screen and (max-width: 20em) {
  .hero__description {
    gap: 1rem;
  }
}
.hero__sub-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}
@media only screen and (max-width: 48em) {
  .hero__sub-content {
    font-size: 1rem;
    gap: 1rem;
  }
}
.hero__user {
  display: flex;
  gap: 2rem;
}
@media only screen and (max-width: 48em) {
  .hero__user {
    gap: 0;
  }
}
.hero__user-1 {
  position: relative;
  padding: 0 2rem 0 0;
}
.hero__user-1::after {
  content: "";
  height: 5rem;
  width: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 1rem;
  left: 13rem;
}
@media only screen and (max-width: 64em) {
  .hero__user-1::after {
    left: 10rem;
  }
}
@media only screen and (max-width: 48em) {
  .hero__user-1::after {
    left: 9rem;
    height: 4rem;
  }
}
@media only screen and (max-width: 20em) {
  .hero__user-1::after {
    left: 7rem;
  }
}
.hero__playimg {
  border-radius: 50%;
  height: 2.4rem;
  width: 2.4rem;
  transition: all 0.2s;
}
.hero__playimg:hover {
  transform: translateX(0.7rem);
}
.hero__watch {
  font-size: 1.2rem;
}
.hero__image {
  height: 60rem;
  width: 60rem;
}
@media only screen and (max-width: 64em) {
  .hero__image {
    height: 40rem;
    width: 40rem;
  }
}
@media only screen and (max-width: 48em) {
  .hero__image {
    height: 30rem;
    width: 30rem;
  }
}
@media only screen and (max-width: 20em) {
  .hero__image {
    height: 24rem;
    width: 24rem;
  }
}
.hero__img {
  display: flex;
}
@media only screen and (max-width: 27em) {
  .hero__img {
    grid-row: 1/2;
    justify-content: center;
  }
}
@media only screen and (max-width: 20em) {
  .hero__img {
    padding: 0;
    justify-content: center;
  }
}

.heading {
  color: #ffffff;
}
.heading__white-sec {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
}
@media only screen and (max-width: 27em) {
  .heading__white-sec {
    font-size: 2.2rem;
  }
}
.heading__white-secdesc {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
}
@media only screen and (max-width: 48em) {
  .heading__white-secdesc {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 27em) {
  .heading__white-secdesc {
    font-size: 1.2rem;
  }
}
.heading__primary {
  font-size: 50px;
  font-weight: 700;
}
@media only screen and (max-width: 48em) {
  .heading__primary {
    font-size: 30px;
  }
}
@media only screen and (max-width: 20em) {
  .heading__primary {
    font-size: 24px;
  }
}
.heading__primary-desc {
  font-size: 1.6rem;
  line-height: 1.5;
}
@media only screen and (max-width: 48em) {
  .heading__primary-desc {
    font-size: 1.2rem;
  }
}
.heading__no {
  font-size: 2.4rem;
}
@media only screen and (max-width: 20em) {
  .heading__no {
    font-size: 1.6rem;
  }
}
.heading__sec {
  font-size: 3.2rem;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
@media only screen and (max-width: 27em) {
  .heading__sec {
    font-size: 2.2rem;
  }
}
.heading__sec-desc {
  font-size: 1.6rem;
  color: #575757;
  line-height: 1.5;
  text-align: center;
}
@media only screen and (max-width: 48em) {
  .heading__sec-desc {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 27em) {
  .heading__sec-desc {
    font-size: 1.2rem;
  }
}

.h-all {
  padding: 0 10rem;
}
@media only screen and (max-width: 48em) {
  .h-all {
    padding: 0;
  }
}
@media only screen and (max-width: 27em) {
  .h-all {
    padding: 0 2rem;
  }
}

.h-lf {
  text-align: left;
  z-index: 100;
}
@media only screen and (max-width: 27em) {
  .h-lf {
    margin-bottom: 2rem;
    text-align: center;
  }
}

.btn {
  color: #4365f1;
  font-size: 1.6rem;
  background-color: #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 2rem;
  transition: all 0.2s;
}
@media only screen and (max-width: 20em) {
  .btn {
    margin-right: 7rem;
  }
}
.btn:hover {
  background-color: #f3f3f3;
  color: #333;
  transform: translateY(0.5rem);
}

.card {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media only screen and (max-width: 27em) {
  .card {
    padding: 0;
  }
}
.card__items {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 3rem;
  flex-wrap: wrap;
}
@media only screen and (max-width: 48em) {
  .card__items {
    gap: 1rem;
  }
}
.card__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 2px;
  border: 1px solid #f3f3f3;
  padding: 2rem 5rem;
  transition: all 0.2s;
}
@media only screen and (max-width: 48em) {
  .card__item {
    padding: 1rem 2rem;
  }
}
.card__item:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateY(-2rem);
}
@media only screen and (max-width: 27em) {
  .card__img1 {
    height: 3rem;
    width: 3rem;
  }
}
.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__content-count {
  font-size: 2.4rem;
  font-weight: 700;
}
@media only screen and (max-width: 27em) {
  .card__content-count {
    font-size: 1.8rem;
  }
}
.card__content-p {
  font-size: 1.2rem;
}
@media only screen and (max-width: 27em) {
  .card__content-p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 27em) {
  .i2 {
    width: 15rem;
  }
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 20rem 20rem;
}
@media only screen and (max-width: 64em) {
  .list {
    padding: 9rem;
  }
}
@media only screen and (max-width: 48em) {
  .list {
    padding: 4rem;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 27em) {
  .list {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 4rem;
  }
}
.list__img {
  width: 50%;
  position: relative;
}
@media only screen and (max-width: 27em) {
  .list__img {
    height: 3rem;
    width: 2rem;
    top: 0;
  }
}
.list__img-1-1 {
  position: absolute;
  height: 40rem;
  width: 40rem;
  z-index: 1;
  top: 5rem;
}
@media only screen and (max-width: 64em) {
  .list__img-1-1 {
    height: 30rem;
    width: 30rem;
    top: 10rem;
  }
}
@media only screen and (max-width: 48em) {
  .list__img-1-1 {
    height: 25rem;
    width: 25rem;
  }
}
.list__img-2-1 {
  height: 25rem;
  width: 25rem;
  position: absolute;
  top: -2rem;
  left: 25rem;
  z-index: -10;
}
@media only screen and (max-width: 64em) {
  .list__img-2-1 {
    height: 20rem;
    width: 20rem;
    top: 10rem;
    left: 15rem;
  }
}
@media only screen and (max-width: 48em) {
  .list__img-2-1 {
    height: 15rem;
    width: 15rem;
  }
}
@media only screen and (max-width: 27em) {
  .list__img-2-1 {
    top: 6rem;
    left: 10rem;
  }
}
.list__heading {
  padding: 0;
  margin: 0;
  align-self: baseline;
}
.list__content {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-items: left;
}

ul {
  list-style: none;
  border-left: 1.5px dashed rgb(125, 124, 124);
}

li {
  margin-bottom: 1rem;
  position: relative;
  padding-left: 4rem;
  font-size: 1.6rem;
}
@media only screen and (max-width: 48em) {
  li {
    font-size: 1rem;
  }
}

li::before {
  content: "";
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 6.5px;
  left: -6.5px;
  z-index: 1;
}

.li-1::before {
  background-color: #4667f1;
}

.li-2::before {
  background-color: #81bc06;
}

.li-3::before {
  background-color: #f5c544;
}

.li-4::before {
  background-color: #ed7630;
}

li::after {
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0px;
  left: -12.5px;
  background-color: white;
  border: 1.5px dashed rgb(125, 124, 124);
}

ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 90%);
  border-radius: 0 0 0 30%;
}

.feature {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.feature__item {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
@media only screen and (max-width: 48em) {
  .feature__item {
    gap: 1rem;
  }
}
.feature__img1 {
  height: 6rem;
  width: 7rem;
}
@media only screen and (max-width: 48em) {
  .feature__img1 {
    height: 4rem;
    width: 5rem;
  }
}
.feature__box {
  font-size: 1rem;
  font-weight: 300;
  background-color: #ffffff;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 4px;
  padding: 2rem 1rem;
  transition: all 0.2s;
}
@media only screen and (max-width: 48em) {
  .feature__box {
    padding: 1rem;
    font-size: 1rem;
    width: 20rem;
  }
}
@media only screen and (max-width: 27em) {
  .feature__box {
    width: 30rem;
  }
}
.feature__box:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 20px;
  transform: translateY(-2rem);
}
.feature__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature__content-heading {
  color: #000000;
  font-size: 2rem;
  text-align: center;
}
@media only screen and (max-width: 48em) {
  .feature__content-heading {
    font-size: 1.6rem;
  }
}
.feature__content-p {
  color: #8f8f8f;
  font-size: 1.6rem;
  text-align: center;
  font-size: 1.2rem;
}

.fqa {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 5rem 30rem;
  position: relative;
}
@media only screen and (max-width: 64em) {
  .fqa {
    padding: 2rem 10rem;
  }
}
@media only screen and (max-width: 27em) {
  .fqa {
    padding: 2rem 3rem;
  }
}
.fqa__box:hover {
  box-shadow: 10px 10px 10px 10px rgb(214, 212, 212);
}
.fqa__bg-1 {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}
.fqa__acc {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
}

.accordion {
  background-color: white;
  color: #414141;
  cursor: pointer;
  padding: 4rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
}
@media only screen and (max-width: 64em) {
  .accordion {
    padding: 2rem;
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 48em) {
  .accordion {
    padding: 1rem;
    font-size: 1.2rem;
  }
}

.active,
.accordion:hover {
  background-color: white;
}

.accordion:before {
  content: "+";
  color: rgba(0, 0, 0, 0.0901960784);
  font-weight: bold;
  float: left;
  margin-right: 10px;
  color: #4769f1;
  height: 2rem;
  width: 2rem;
  font-size: 29px;
  font-weight: 100;
}

.active:before {
  content: "−";
}

.panel {
  padding: 0 4rem;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 1.6rem;
  border-bottom: 1px solid rgb(206, 202, 202);
}
.panel:last-child {
  border-bottom: 0;
}
@media only screen and (max-width: 48em) {
  .panel {
    font-size: 1rem;
  }
}

.bg__img {
  position: absolute;
  width: fit-content;
  top: -10rem;
  right: -20rem;
  z-index: -1;
}
@media only screen and (max-width: 64em) {
  .bg__img {
    top: -8rem;
    left: 70rem;
  }
}
@media only screen and (max-width: 48em) {
  .bg__img {
    top: -8rem;
    left: 50rem;
  }
}
@media only screen and (max-width: 27em) {
  .bg__img {
    top: -3rem;
    left: 29rem;
  }
}
@media only screen and (max-width: 20em) {
  .bg__img {
    top: -8rem;
    left: 10rem;
  }
}
.bg__img-1 {
  width: 35rem;
  height: 30rem;
}
@media only screen and (max-width: 64em) {
  .bg__img-1 {
    width: 20rem;
    height: 20rem;
  }
}
@media only screen and (max-width: 48em) {
  .bg__img-1 {
    width: 15rem;
    height: 15rem;
  }
}
@media only screen and (max-width: 27em) {
  .bg__img-1 {
    width: 10rem;
    height: 10rem;
  }
}
@media only screen and (max-width: 20em) {
  .bg__img-1 {
    width: 0;
  }
}

@media only screen and (max-width: 20em) {
  .accordion,
  .panel {
    font-size: 1rem;
  }
}

.footer {
  font-size: 1.4rem;
  color: #ffffff;
  text-align: center;
}
@media only screen and (max-width: 48em) {
  .footer {
    font-size: 1rem;
  }
}
.footer__top {
  background-color: #2a2a2a;
  display: block;
  padding: 1rem;
}
.footer__bottom {
  background-color: #0c0c0c;
  display: flex;
  flex-direction: column;
}
.footer__bottom-content {
  padding: 2rem 25rem;
}
@media only screen and (max-width: 48em) {
  .footer__bottom-content {
    padding: 1rem 20rem;
  }
}
@media only screen and (max-width: 27em) {
  .footer__bottom-content {
    padding: 2rem;
  }
}
.footer__bottom-img {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  margin-top: 2rem;
}
.footer__img-1, .footer__img-2, .footer__img-3 {
  height: 6rem;
  width: 18rem;
}
@media only screen and (max-width: 48em) {
  .footer__img-1, .footer__img-2, .footer__img-3 {
    height: 5rem;
    width: 15rem;
  }
}
@media only screen and (max-width: 27em) {
  .footer__img-1, .footer__img-2, .footer__img-3 {
    height: 3rem;
    width: 10rem;
  }
}

@media only screen and (max-width: 20em) {
  .line {
    height: 0;
  }
}/*# sourceMappingURL=main.css.map */